#box21-wrong-answer {
    display: none;
    color: red;
}

#box22-wrong-answer {
    display: none;
    color: red;
}

#box23-wrong-answer {
    display: none;
    color: red;
}

#box24-wrong-answer {
    display: none;
    color: red;
}

#box25-wrong-answer {
    display: none;
    color: red;
}

#box26-wrong-answer {
    display: none;
    color: red;
}

#box27-wrong-answer {
    display: none;
    color: red;
}

#box28-wrong-answer {
    display: none;
    color: red;
}

#box29-wrong-answer {
    display: none;
    color: red;
}

#box210-wrong-answer {
    display: none;
    color: red;
}

#box211-wrong-answer {
    display: none;
    color: red;
}