#box1-wrong-answer {
    display: none;
    color: red;
}

#box2-wrong-answer {
    display: none;
    color: red;
}

#box3-wrong-answer {
    display: none;
    color: red;
}

#box4-wrong-answer {
    display: none;
    color: red;
}

#box5-wrong-answer {
    display: none;
    color: red;
}

#box6-wrong-answer {
    display: none;
    color: red;
}

#box7-wrong-answer {
    display: none;
    color: red;
}

#box8-wrong-answer {
    display: none;
    color: red;
}

#box9-wrong-answer {
    display: none;
    color: red;
}

#box10-wrong-answer {
    display: none;
    color: red;
}